<mat-toolbar color="primary" fxLayout.md="row">
  <!-- <div fxFlex="60%"> -->
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span fxFlexOffset="40%" fxFlex>Canvas Editor</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" fxLayoutAlign="end"
    (click)="download()">
    <!-- <mat-icon>download</mat-icon> -->
    <span>Download</span>
  </button>
</mat-toolbar>
