<div class="shapes-container" fxLayout="row wrap">

    <img src="../../../../../assets/svgs/01-01.svg" alt="" fxFlex="50%" (click)="addSvg($event)">
    <img src="../../../../../assets/svgs/01.svg" alt="" fxFlex="50%" (click)="addSvg($event)">
    <img src="../../../../../assets/svgs/01722 Mandala Boho Dolphin.svg" alt="" fxFlex="50%" (click)="addSvg($event)">
    <img src="../../../../../assets/svgs/02058 Happiness Is Being Married To Your Best Friend.svg" alt="" fxFlex="50%"
        (click)="addSvg($event)">
    <img src="../../../../../assets/svgs/Border Omament 05.svg" alt="" fxFlex="50%" (click)="addSvg($event)">
    <img src="../../../../../assets/svgs/Chinese flower ornament 2.svg" alt="" fxFlex="50%" (click)="addSvg($event)">
    <img src="../../../../../assets/svgs/circ.svg" alt="" fxFlex="50%" (click)="addSvg($event)">
    <img src="../../../../../assets/svgs/hohoho.svg" alt="" fxFlex="50%" (click)="addSvg($event)">
</div>