<div class="text-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="heading-section" fxLayout="row wrap" fxFlex="100%" fxLayoutAlign="center center">
        <!-- <mat-card fxFlex="80">
            <h1 class="heading text-center">Add a heading</h1>
        </mat-card>
        <mat-card fxFlex="80">
            <h2 class="subheading text-center">Add a subheading</h2>
        </mat-card>
        <mat-card fxFlex="80">
            <p class="body-text text-center">Add body text</p>
        </mat-card> -->
        <div fxFlex="80%" (click)="addText($event,'heading')">
            <h1 class="heading text-center">Add a heading</h1>
        </div>
        <div fxFlex="80%" (click)="addText($event,'subheading')">
            <h2 class="subheading text-center">Add a subheading</h2>
        </div>
        <div fxFlex="80%" (click)="addText($event,'bodytext')">
            <p class="body-text text-center">Add body text</p>
        </div>
    </div>
</div>